@media (min-width: 320px) and (max-width: 575.98px) {
  /* Banner */
  .banner {
    height: 500px;
  }
  .banner .main .showcase .image img {
    display: none;
  }
  .banner .main .showcase .text img {
    display: none;
  }
  .banner .showcase .text .hero {
    font-size: 2rem;
  }
  .highlight {
    font-size: 2.5rem;
  }
}
