@media (min-width: 320px) and (max-width: 575.98px) {
  /* common */
  .btn-gradient {
    padding: 10px 15px;
    font-size: 0.8rem !important;
  }
  /* Navbar */
  .navbar {
    background: #fff;
    padding: 20px 0;
    top: 0;
    position: static !important;
  }
  .navbar-toggler {
    border: 0;
  }
  .navbar-toggler i {
    font-size: 1.5rem;
  }
  .navbar .navbar-toggler:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 auto;
  }
  .navbar .navbar-nav .nav-item:last-child {
    margin: 0 auto;
  }
  /* Banner */
  .banner {
    height: 70vh;
  }
  .banner .shapes {
    overflow: hidden;
  }
  .banner .shapes .item-1 {
    top: 15%;
    left: 15%;
  }
  .banner .shapes .item-4 {
    top: 100%;
    left: 119%;
  }
  .banner .shapes .item-5 {
    top: 90%;
    left: 90%;
  }
  .banner .shapes .item-6 {
    display: none;
  }
  .banner .shapes .item-7 {
    display: none;
  }
  .banner .shapes .item-8 {
    display: none;
  }
  .banner .shapes .item-3 .object-3 {
    opacity: 0.8;
  }
  .banner .main .showcase {
    padding-top: 150px;
    height: 100%;
    overflow: hidden;
  }
  .banner .main .showcase .image img {
    display: none;
  }
  .banner .main .showcase .text .brand-logo {
    display: none;
  }
  .banner .main .showcase .text .gp-app-logo {
    width: 40%;
    padding: 40px 0;
  }
  .banner .showcase .text .hero {
    font-size: 2rem;
  }
  .banner .showcase .text .hero .highlight {
    font-size: 2.5rem;
  }

  /* About */
  .about {
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .about .text .about-title {
    width: auto;
  }
  .about .text .about-title h2:nth-child(1) {
    margin: 0 auto;
    font-size: 1.5rem;
    padding-bottom: 10px;
    width: auto;
  }
  .about .text .about-title h2:nth-child(2) {
    font-size: 0.8rem;
    line-height: 20px;
    padding: 0px 20px;
    margin: 0 auto;
    width: auto;
  }
  .about .text .about-title .highlight-sm {
    font-size: 0.8rem;
  }
  .about .main .item {
    padding: 20px 0;
    overflow-x: hidden;
  }
  .about .main .item p {
    color: var(--mf-peragraph);
    font-size: 0.8rem;
  }
  .about .main .item .courses {
    overflow: scroll;
  }
  /* features */
  .features .main {
    overflow-x: hidden;
  }
  .features .main .title {
    margin-bottom: 60px;
    text-align: center;
  }
  .features .main .item-1 {
    padding: 30px 0;
  }
  .features .main .item-1 .title h2 {
    font-size: 2rem;
  }
  .features .main .item-1 .title .highlight {
    font-size: 2rem;
  }
  .features .main .item-1 .text {
    padding-top: 35px;
  }
  .features .main .item-1 .text h2 {
    font-size: 23px;
    color: var(--mf-orange);
  }
  .features .main .item-1 .text p {
    font-size: 0.8rem;
    padding: 0px 10px;
    text-align: center;
  }
  .features .main .item-1 .text h4 {
    font-size: 15px;
  }
  .features .main .item-1 .text h4::before {
    content: "»";
    color: var(--mf-orange);
  }
  .features .main .item-1 .text h4 i {
    display: none;
  }
  .features .main .item-2 {
    display: none !important;
  }
  /* rewiews style */
  .reviews {
    padding: 20px 0;
    overflow-x: hidden;
  }
  .reviews .main .slider .slider-nav .slider-nav-item {
    width: 100%;
    height: 200px;
  }
  .reviews .text .title {
    padding: 5px 0;
  }
  .reviews .main .slider .slider-nav .slider-nav-item img {
    width: 70%;
    margin: 0 auto;
  }
  .reviews .main .slider .slider-for .slider-item p {
    width: 80%;
    margin: 0 auto;
    font-size: 0.8rem;
  }
  .slick-next {
    right: 10px;
  }
  .slick-prev {
    left: 10px;
  }
  .slider-for .slick-next::before,
  .slider-for .slick-prev::before {
    font-size: 20px;
  }
}
