@media (min-width: 320px) and (max-width: 575.98px) {
  /* Banner */
  .banner {
    height: 100vh;
  }
  .banner .shapes {
    overflow: hidden;
  }
  .banner .shapes .item-1 {
    top: 25%;
    left: 30%;
  }
  .banner .shapes .item-5 {
    top: 80%;
    left: 80%;
  }
  .banner .shapes .item-6 {
    display: none;
  }
  .banner .shapes .item-7 {
    display: none;
  }
  .banner .shapes .item-8 {
    display: none;
  }
  .banner .main .showcase {
    padding-top: 280px;
    height: 100%;
    overflow: hidden;
  }
  .banner .main .showcase .image img {
    display: none;
  }
  .banner .main .showcase .text .brand-logo {
    display: none;
  }
  .banner .main .showcase .text .gp-app-logo {
    width: 40%;
    padding: 40px 0;
  }
  .banner .showcase .text .hero {
    font-size: 2rem;
  }
  .highlight {
    font-size: 2.5rem;
  }
  /* About */
  .about .text .about-title {
    width: auto;
    font-size: 1.1rem;
    line-height: 25px;
  }
  .about .text .about-title .highlight-sm {
    font-size: 1.2rem;
  }
  .about .main .item .courses{
    overflow: scroll;
  }
}
