/* Remote Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@400;500;700;900&display=swap");
/* Remote Fonts */

/* Variables */
:root {
  /* colors */
  --mf-peragraph: #737373;
  --mf-blue: #0d6efd;
  --mf-indigo: #6610f2;
  --mf-purple: #6f42c1;
  --mf-red: #f83600;
  --mf-orange: #df6812;
  --mf-yellow: #ffc107;
  --mf-green: #198754;
  --mf-teal: #20c997;
  --mf-cyan: #0dcaf0;
  --mf-black: #000;
  --mf-white: #fff;
  --mf-gray: #6c757d;
  --mf-gray-dark: #343a40;
  --mf-gray-100: #f0f0f0;
  --mf-gray-200: #e9ecef;
  --mf-gray-300: #dee2e6;
  --mf-gray-400: #ced4da;
  --mf-gray-500: #adb5bd;
  --mf-gray-600: #6c757d;
  --mf-gray-700: #495057;
  --mf-gray-800: #343a40;
  --mf-gray-900: #212529;
  --mf-primary: #0d6efd;
  --mf-secondary: #6c757d;
  --mf-success: #198754;
  --mf-info: #0dcaf0;
  --mf-warning: #ffc107;
  --mf-danger: #dc3545;
  --mf-light: #f8f9fa;
  --mf-dark: #212529;
  --mf-pink: #f8e7e7;
  --mf-background-gradient: linear-gradient(
    122.33deg,
    #f39200 0%,
    #f83600 102.08%
  );
  /* colors */
  /* units */
  --mf-font-esm: 0.7rem;
  --mf-font-sm: 0.8rem;
  --mf-font-md: 1rem;
  --mf-font-rmd: 1.5rem;
  --mf-font-xl: 3rem;
  --mf-font-xxl: 3.5rem;
}
/* Variables */

/* preset Stylrs */
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* preset Stylrs */

/* common style */
.highlight {
  color: var(--mf-orange);
}
/* Buttons style */
.btn-gradient {
  padding: 10px 25px;
  background: var(--mf-background-gradient);
  color: var(--mf-white);
  transition: all 0.5s ease-in;
}
.btn-gradient:hover {
  border: 1px solid #f83600;
  background: none;
  color: var(--mf-red);
}
/* Buttons style */
/* common style */

/* Navbar style start*/
.navbar {
  z-index: 999;
  padding: 12px 0;
  box-shadow: none;
  background: var(--mf-pink);
}
.navbar .navbar-nav .nav-item {
  margin-right: 50px;
}
.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--mf-orange);
  border-bottom: 1px solid;
  border-color: var(--mf-orange);
  transition: all 0.4s linear;
}

/* Navbar style end*/

/* Banner style start*/
.banner {
  height: 1000px;
  background: var(--mf-pink);
}
.banner .shapes {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .main .showcase {
  padding-top: 140px;
  height: 100%;
  overflow: hidden;
}
.banner .main .showcase .image img {
  width: 100%;
}
.banner .main .showcase .text {
  font-family: "Poppins", sans-serif;
}
.banner .main .showcase .text .brand-logo {
  width: 40%;
  padding: 0 0 20px;
}
.banner .showcase .text .hero {
  padding: 0 0 10px;
  width: 100%;
  font-size: var(--mf-font-xxl);
}
.banner .showcase .text .hero .highlight {
  font-size: var(--mf-font-xxl);
}

.banner .showcase .text .hero-motto {
  width: 100%;
  padding: 0 0 10px;
  font-size: var(--mf-font-md);
}
.banner .main .showcase .text .gp-app-logo {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 40%;
  padding: 0 0 20px;
}
/* Banner style end*/

/* About style start */
.about {
  padding: 100px 0;
}
.about .text .about-title {
  margin: 0 auto;
  padding-bottom: 40px;
}
.about .text .about-title .highlight {
  font-size: var(--mf-font-md);
}
.about .text .about-title h2:nth-child(1) {
  font-size: var(--mf-font-xl);
}
.about .text .about-title h2:nth-child(2) {
  width: 640px;
  margin: 0 auto;
  font-size: var(--mf-font-md);
  line-height: 30px;
}
.about .main .item {
  padding: 50px 0;
}
.about .main .item p {
  color: var(--mf-peragraph);
}
.about .main .item img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 500px;
}
.about .text .video-1 {
  width: 200px;
  height: 130px;
  background: url("https://panel.brightskills.com/media/course/Earn%20More%20Learn%20Motion%20Graphics/Motion-Graphics.jpg")
    no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.about .text .video-2 {
  width: 200px;
  height: 130px;
  background: url("https://panel.brightskills.com/media/course/Freelancing%20with%20WordPress%20Theme%20Customization/558-X-1.JPG")
    no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.about .text .video-3 {
  width: 200px;
  height: 130px;
  background: url("https://panel.brightskills.com/media/course/MS%20Excel%20Beginner%20to%20Advanced/558-X-364_Course-Banner_ii-of-MS-Excel-Beginner-to-Advanced.jpg")
    no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.about .text i {
  color: var(--mf-orange);
  font-size: var(--mf-font-xl);
  opacity: 0.8;
}
/* About style end*/

/* features style start */
.features .main .title {
  margin-bottom: 120px;
}
.features .main .item-1 {
  height: 100%;
  background: var(--mf-gray-100);
  padding: 100px 0;
}
.features .main .item-1 img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.features .main .item-1 .title h2 {
  font-size: var(--mf-font-xxl);
}
.features .main .item-1 .title .highlight {
  font-size: var(--mf-font-xxl);
}
.features .main .item-1 p {
  color: var(--mf-peragraph);
}

.features .main .item-1 .text i {
  color: var(--mf-orange);
}
.features .main .item-2 {
  height: 500px;
  width: 100%;
  background: url(../images/svg/bg-2.svg) no-repeat center;
  background-size: 100%;
}
.features .main .item-2 img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.features .main .item-2 .text {
  height: 500px;
}
.features .main .item-2 .text P {
  color: var(--mf-peragraph);
}
.features .main .item-2 .mockup {
  left: 100%;
  top: -73px;
  transform: translateX(-100%);
}
/* features style end */

/* reviews section start*/
.reviews {
  height: 100vh;
  padding: 150px 0;
}
.reviews .text .title {
  padding: 40px 0;
}

.reviews .main .slider .slider-for .slider-item {
  width: 100%;
}
.reviews .main .slider .slider-for .slider-item p {
  width: 50%;
  margin: 0 auto;
}
.reviews .main .slider .slider-nav .slider-nav-item {
  width: 100%;
  height: 400px;
}

.reviews .main .slider .slider-nav .slider-nav-item img {
  width: 50%;
  margin: 0 auto;
}
.reviews .main .slider .slider-nav .slick-center img {
  transform: scale(1.5);
  transition: all 0.6s;
}
/* this design for slicks button */
.slider-for .slick-next::before,
.slider-for .slick-prev::before {
  font-size: 30px;
  font-family: slick;
  color: var(--mf-orange);
}
/* reviews section end */
/* faq style */
.faq {
  height: 100vh;
  background: url(../images/background/bg.svg) no-repeat right;
}
.faq .text .title {
  font-size: var(--mf-font-xl);
  color: var(--mf-orange);
  padding: 100px 0;
}
.faq .main {
  padding: 100px 0;
}
.faq .main-accordian {
  height: 500px;
}
.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
.accordion-borderless .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--mf-pink);
  color: var(--mf-black);
  box-shadow: none;
}
.accordion-borderless .accordion-item .accordion-button:hover {
  background: var(--mf-pink);
}
/* faq section end */

/* footer */
.footer {
  padding: 50px 0;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: var(--mf-gray-100) !important;
}
.footer.brand-info p {
  color: var(--mf-gray-300);
}
.footer img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.footer .footer-link:hover {
  color: var(--mf-orange);
}
.footer .footer-link {
  color: var(--mf-gray-300);
}

.footer .copyright p {
  margin-top: 150px;
  font-size: var(--mf-font-esm);
}
.footer .contact p {
  color: var(--mf-gray-300);
}
/* footer end */
