/* Remote Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@400;500;700;900&display=swap");
/* Remote Fonts */

/* Variables */
:root {
  /* colors */
  --mf-peragraph: #737373;
  --mf-blue: #0d6efd;
  --mf-indigo: #6610f2;
  --mf-purple: #6f42c1;
  --mf-red: #f83600;
  --mf-orange: #df6812;
  --mf-yellow: #ffc107;
  --mf-green: #198754;
  --mf-teal: #20c997;
  --mf-cyan: #0dcaf0;
  --mf-black: #000;
  --mf-white: #fff;
  --mf-gray: #6c757d;
  --mf-gray-dark: #343a40;
  --mf-gray-100: #f0f0f0;
  --mf-gray-200: #e9ecef;
  --mf-gray-300: #dee2e6;
  --mf-gray-400: #ced4da;
  --mf-gray-500: #adb5bd;
  --mf-gray-600: #6c757d;
  --mf-gray-700: #495057;
  --mf-gray-800: #343a40;
  --mf-gray-900: #212529;
  --mf-primary: #0d6efd;
  --mf-secondary: #6c757d;
  --mf-success: #198754;
  --mf-info: #0dcaf0;
  --mf-warning: #ffc107;
  --mf-danger: #dc3545;
  --mf-light: #f8f9fa;
  --mf-dark: #212529;
  --mf-pink: #f8e7e7;
  --mf-background-gradient: linear-gradient(
    122.33deg,
    #f39200 0%,
    #f83600 102.08%
  );
  /* colors */
  /* units */
  --mf-font-esm: 0.7rem;
  --mf-font-sm: 0.8rem;
  --mf-font-md: 1rem;
  --mf-font-rmd: 1.5rem;
  --mf-font-xl: 3rem;
  --mf-font-xxl: 3.5rem;
}
/* Variables */

/* preset Stylrs */
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
body::-webkit-scrollbar-track {
  opacity: 0;
}

/* preset Stylrs */

/* common style */
.highlight {
  color: var(--mf-orange);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/* Buttons style */
.btn-gradient {
  padding: 10px 25px;
  background: var(--mf-background-gradient);
  color: var(--mf-white);
  transition: all 0.5s ease-in;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-gradient:hover {
  border: 1px solid #f83600;
  background: none;
  color: var(--mf-red);
}
/* Buttons style */
/* common style */

/* Navbar style start*/
.navbar {
  z-index: 999;
  padding: 15px 0;
  box-shadow: none;
  background: var(--mf-pink);
}
.navbar .navbar-nav .nav-item {
  border-bottom: 1px solid transparent;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--mf-orange) !important;
}

.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0px;
}
.navbar-nav .nav-link.active {
  color: var(--mf-orange);
  border-bottom: 1px solid;
  border-color: var(--mf-orange);
  transition: all 0.4s linear;
}

/* Navbar style end*/

/* Banner style start*/
.banner {
  background: url(../images/svg/banner-bg.svg) no-repeat center;
  background-size: cover;
}
.banner .shapes {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .main .showcase {
  padding: 10% 0;
  height: 100%;
  overflow: hidden;
}
.banner .main .showcase .image img {
  width: 65%;
  animation: vibrate-1 5s linear infinite alternate-reverse both;
}
.banner .main .showcase .text {
  font-family: "Poppins", sans-serif;
}
.banner .main .showcase .text .brand-logo {
  width: 40%;
  padding: 0 0 20px;
}
.banner .showcase .text .hero {
  padding: 0 0 10px;
  width: 100%;
  font-size: var(--mf-font-xxl);
}
.banner .showcase .text .hero .highlight {
  font-size: var(--mf-font-xxl);
}

.banner .showcase .text .hero-motto {
  width: 100%;
  padding: 0 0 10px;
  font-size: var(--mf-font-md);
}
.banner .main .showcase .text .gp-app-logo {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 40%;
}
/* Banner style end*/

/* About style start */
.about {
  padding: 60px 0;
  overflow: hidden;
}
.about::after {
  content: url(../images/shape/shape_1.png);
  position: absolute;
  right: 0;
  top: 700px;
}
.about::before {
  content: url(../images/shape/shape_2.png);
  position: absolute;
  left: 0;
  top: 100px;
}

.about .text .about-title {
  margin: 0 auto;
  padding: 40px 0;
}
.about .text .about-title .highlight {
  font-size: var(--mf-font-md);
}
.about .text .about-title h2 {
  padding: 10px 0;
  font-size: var(--mf-font-xl);
}
.about .text .about-title p {
  width: 640px;
  margin: 0 auto;
  font-size: var(--mf-font-md);
  line-height: 30px;
}
.about .main .item {
  padding: 50px 0;
}
.about .main .item h5 {
  padding: 15px 0;
}
.about .main .item p {
  color: var(--mf-peragraph);
}
.about .main .item img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 500px;
}
.about .text .video-1 {
  width: 200px;
  height: 130px;
  background: url("https://panel.brightskills.com/media/course/Earn%20More%20Learn%20Motion%20Graphics/Motion-Graphics.jpg")
    no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.about .text .video-2 {
  width: 200px;
  height: 130px;
  background: url("https://panel.brightskills.com/media/course/Freelancing%20with%20WordPress%20Theme%20Customization/558-X-1.JPG")
    no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.about .text .video-3 {
  width: 200px;
  height: 130px;
  background: url("https://panel.brightskills.com/media/course/MS%20Excel%20Beginner%20to%20Advanced/558-X-364_Course-Banner_ii-of-MS-Excel-Beginner-to-Advanced.jpg")
    no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.about .text i {
  color: var(--mf-orange);
  font-size: var(--mf-font-xl);
  opacity: 0.8;
}
/* About style end*/

/* features style start */
.features .main .title {
  margin-bottom: 65px;
}
.features .main .item-1 {
  overflow: hidden;
  background: var(--mf-gray-100);
  padding: 100px 0;
}
.features .main .item-1 img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.features .main .item-1 .title h2 {
  font-size: var(--mf-font-xxl);
}
.features .main .item-1 .title .highlight {
  font-size: var(--mf-font-xxl);
}
.features .main .item-1 p {
  color: var(--mf-peragraph);
}

.features .main .item-1 .text {
  padding: 50px 0;
}
.features .main .item-1 .text h2 {
  padding: 20px 0;
}
.features .main .item-1 .text .feature-name {
  padding: 10px 0;
}
.features .main .item-1 .text i {
  color: var(--mf-orange);
}
.features .main .item-2 {
  Overflow-x: hidden;
  width: 100%;
  background: url(../images/svg/feature-bg.svg) no-repeat center;
  background-size: cover;
  margin-bottom: 0px;
}
.features .main .item-2 img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.features .main .item-2 .text {
  height: 500px;
}
.features .main .item-2 .text h2 {
  padding: 10px 0;
}
.features .main .item-2 .text P {
  padding: 10px 0;
  color: var(--mf-peragraph);
}
.features .main .item-2 .mockup {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}
/* features style end */
/* install style start */
.install {
  padding: 100px 0;
  background: url(../images/svg/install-bg.svg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.install .download-counte {
  padding: 20px 0;
}
.install .download-counte h2 {
  font-size: var(--mf-font-xxl);
}
.install .download-counte h6 {
  padding: 15px 0;
  font-size: var(--mf-font-md);
}
.install .download-counte .highlight {
  font-size: var(--mf-font-xxl);
}
.install .mockup .img {
  height: 735px;
}
.install .main-process .slider .slick-next,
.install .main-process .slider .slick-prev {
  display: none !important;
}
/* install style end */

/* reviews section start*/
.reviews {
  padding: 30px 0;
  background: url(../images/svg/reviews-bg.svg) no-repeat center;
  background-size: cover;
}
.reviews .text .title {
  padding: 50px 0 50px;
}
.reviews .text .title h2 .highlight {
  font-size: var(--mf-font-xl);
}
.reviews .text h6 {
  padding: 10px 0;
}

.reviews .main .reviews-slider .slider-for {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
}
.reviews .main .reviews-slider .slider-for .slider-item p {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.reviews .main .reviews-slider .slider-for .slider-item p::before {
  position: absolute;
  top: -9px;
  left: -60px;
  content: url(../images/shape/start.png);
}
.reviews .main .reviews-slider .slider-for .slider-item p::after {
  position: absolute;
  top: 50px;
  right: -60px;
  content: url(../images/shape/end.png);
}
.reviews .main .reviews-slider .slider-nav .slider-nav-item {
  width: 100%;
  height: 400px;
}

.reviews .main .reviews-slider .slider-nav .slider-nav-item img {
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
}
.reviews .main .reviews-slider .slider-nav .slick-center img {
  transform: scale(1.5);
  transition: all 0.6s;
}
/* this design for slicks button */
.slider-for .slick-next::before,
.slider-for .slick-prev::before {
  font-size: 30px;
  font-family: slick;
  color: var(--mf-orange);
}
/* reviews section end */
/* faq style */
.faq {
  padding: 50px 0;
  background: url(../images/background/bg.svg) no-repeat right;
}
.faq .text .title {
  font-size: var(--mf-font-xl);
  color: var(--mf-orange);
  padding: 25px 0 25px;
}
.faq .text h6 {
  padding: 15px 0 15px;
}
.faq .main {
  padding: 50px 0 50px;
}
.faq .main-accordian {
  height: 500px;
}
.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
.accordion-borderless .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--mf-pink);
  color: var(--mf-black);
  box-shadow: none;
}
.accordion-borderless .accordion-item .accordion-button:hover {
  background: var(--mf-pink);
}
/* faq section end */

/* footer */
.footer {
  padding-top: 50px;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: var(--mf-gray-100) !important;
}

.footer.brand-info p {
  color: var(--mf-gray-300);
}
.footer img {
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.footer .social-icon i {
  font-size: var(--mf-font-rmd);
}
.footer .social-icon .fb {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 37px;
  background-color: #0165e1;
  border-radius: 50%;
}
.footer .social-icon .yt {
  color: #ff0000;
  width: 30px;
  height: 30px;
  line-height: 37px;
}
.footer .social-icon .lk {
  color: white;
  background: #0a66c2;
  width: 30px;
  height: 30px;
  line-height: 35px;
}

.footer .footer-link {
  color: var(--mf-gray-300);
}
.footer .footer-link:hover {
  color: var(--mf-orange);
}

.footer .copyright p {
  font-size: var(--mf-font-sm);
}
.footer .contact p {
  color: var(--mf-gray-300);
}
/* footer end */
